<h1 class="center" mat-dialog-title>Se connecter</h1>

<mat-dialog-actions class="conteneur">
  <div class="center">
    <button mat-raised-button color="primary" (click)="save(1)">Via Google</button>
    <button mat-raised-button color="primary" (click)="save(2)">Via Facebook</button>
    <button mat-raised-button color="primary" (click)="setEmail()">Via Email</button>
  </div>
  <div class="centerB">
    <p>Nouvel utilisateur?</p>
  </div>
  <div class="centerB">
    <button mat-raised-button color="warn" (click)="close()">Annuler</button>
    <button mat-raised-button color="primary" class="center" (click)="signup()">S'inscrire</button>
  </div>
</mat-dialog-actions>