.actors {
    margin-left: 2%;
}

.actor {
    display: inline-block; 
    margin: 8px;
}

.actor-card {
    width: 220px;
}

img {
    display: block;
    max-width: 220px;
    max-height: 330px;
    width: auto;
    height: auto;
}

.contents {
    height: 100px;
}

p {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}