<div class="grid">
  <div>
     <h3>Listes publiques d'autres utilisateurs</h3>
     <mat-divider></mat-divider>
  </div>
  <div class="container"> 
      <div class="group">      
        <input type="text">
        <label>Search</label>
      </div>
  </div>
  <div>
      <h3>Résultat</h3>
      <mat-list role="list">
          <mat-list-item role="listitem">Liste 1</mat-list-item>
          <mat-list-item role="listitem">Liste 2</mat-list-item>
          <mat-list-item role="listitem">Liste 3</mat-list-item>
        </mat-list>
  </div>
</div>