<div>
  <div *ngIf="random">
    <div class="films">
      <li *ngFor="let film of movies">
        <app-movie [movie]="film" [add]="true"></app-movie>
      </li>
    </div>
  </div>
  <div *ngIf="!random">
    <div class="list">
      <div class="list-header">
        <h2> {{ name }} </h2>
        <button mat-button (click)="deleteList()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="cards">
        <li *ngFor="let movie of movies">
          <app-movie [movie]="movie" [add]="false" [listName]="idList"></app-movie>
        </li>
      </div>
    </div>
  </div>
<!-- vient de main-nav 
      <div *ngIf="isConnected">-->
        <!--<div *ngFor="let list of lists" style="display: block;">-->
        <!--<button mat-button [routerLink]="['/list', list.name]" style="width: 100%;">-->
        <!--{{ list.name }}-->
        <!--</button>-->
        <!--</div>-->
        <!--<div>-->
        <!--<button mat-button (click)="openDialog()">-->
        <!--<mat-icon>add</mat-icon> Ajouter une liste-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
</div>