<div>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let list of lists" [routerLink]="['/list', list.name]" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{list.name}}
    </a>
  </nav>
  <div class="list">
    <div class="list-header" *ngIf="loaded">
      <mat-slide-toggle labelPosition="before" color="success" [(ngModel)]="value">
        {{showStatus(value)}}
      </mat-slide-toggle>
      <button mat-stroked-button (click)="deleteList()" color="gray">
        <mat-icon>edit</mat-icon> RENOMMER
      </button>
      <button mat-raised-button (click)="deleteList()" color="warn">
        <mat-icon>delete</mat-icon> SUPPRIMER
      </button>
      <span> cree le </span>
    </div>
    <div class="cards">
      <li *ngFor="let movie of movies">
        <app-movie [movie]="movie" [add]="false" [listName]="idList"></app-movie>
      </li>
    </div>
  </div>
</div>