<mat-dialog-actions class="conteneur">
    <div class="centerB">
      <mat-dialog-content [formGroup]="emailForm">
        <ul>
          <li>
            <mat-form-field>
              <input matInput type="email" required placeholder="Email" formControlName="email">
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input matInput title="Au moins 6 caractères"
               type="password" required placeholder="Mot de passe" formControlName="password">
            </mat-form-field>
          </li>
        </ul>
      </mat-dialog-content>
    </div>
    <div class="centerB">
      <p><a (click)="forgotPassword()" style="color: red">Mot de passe oublié ?</a></p>
    </div>
    <div class="centerB">
      <button mat-raised-button color="warn" (click)="close()">Annuler</button>
      <button mat-raised-button color="primary" type="submit" (click)="save()">Se connecter</button>
    </div>
  </mat-dialog-actions>
