.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.icone {
  display : inline-flex;
  vertical-align: middle;
}

.image{
    height: 60px;
    width: 60px;
    align-self: center;
  }

  a {
    border-bottom: #f0ecec 1px solid;
  }

  button {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
   