<section class="inner personne_contenu  back poster">
  <div class="image">
    <div class="filter" style="display: block;">
      <div class="colonne medium" style="display: block;">
        <section class="images inner_image">
          <div class="poster profile">
            <div class="contenu_image">
                <img class="poster" src="https://image.tmdb.org/t/p/w300/{{poster}}">
            </div>
          </div>
          <section id="head_section" class="header">
            <div class="title" dir="auto">
                <h2>{{name}}</h2>
            </div>
            <h3 dir="auto">Biographie</h3>
            <div dir="auto" class="biblio">
              <div class="contenu">
                <div class="text d_trunc" style="overflow-wrap: break-word;">
                  <p>{{biograhie}}</p>
                </div>
              </div>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</section>
