<!--div>
  <button inline-block (click)="signin()">S'inscrire</button>
  <button inline-block (click)="login()">Se connecter</button>
</div-->

<div *ngIf="!isConnected">
  <ul class="mdc-list">
    <li class="mdc-list-item">
      <a (click)="signin()">
        <i class="material-icons md-18 icone">person</i>
        S'inscrire
      </a>
    </li>
    <li class="mdc-list-item">
      <a (click)="login()">
        <i class="material-icons md-18 icone">arrow_right</i>
        Se connecter
      </a>
    </li>
  </ul>
</div>
<div *ngIf="isConnected">
  <button mat-raised-button (click)="logout()"> Se déconnecter</button>
  <button mat-raised-button (click)="test()">Test</button>
</div>