<div *ngIf="movies">
  <div class="title">
    <p> Tendances </p>
  </div>
  <div>
    <ul>
      <div class="testimonial-carousel">
        <li *ngFor="let movie of movies[0]" class="testimonial-item" id="first">
          <app-movie [movie]="movie" [add]="true"></app-movie>
        </li>
      </div>
      <div class="icon-container">
        <button class="lnr lnr-arrow-right-circle" id="first">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </ul>
  </div>
  <div class="title">
    <p> Populaires </p>
  </div>
  <div>
    <ul>
      <div class="testimonial-carousel">
        <li *ngFor="let movie of movies[1]" class="testimonial-item" id="second">
          <app-movie [movie]="movie" [add]="true"></app-movie>
        </li>
      </div>
      <div class="icon-container">
        <button class="lnr lnr-arrow-right-circle" id="second">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </ul>
  </div>
  <div class="title">
    <h4> Prochainement </h4>
  </div>
  <div>
    <ul>
      <div class="testimonial-carousel">
        <li *ngFor="let movie of movies[2]" class="testimonial-item" id="third">
          <app-movie [movie]="movie" [add]="true"></app-movie>
        </li>
      </div>
      <div class="icon-container">
        <button class="lnr lnr-arrow-right-circle" id="third">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </ul>
  </div>

</div>