.title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-left: 4%;
  width: 95%;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.1em;
  display: inline-block;
  border-bottom: #dadada 2px solid;

  &#last {
    margin-top: 2px;
  }

  p {
    position: relative;
    margin-block-end: 1.3%;
    margin-block-start: 1.3%;
  }
}

ul {
  overflow-x: auto;
  display: -webkit-flex;
}

li {
  display: block;
}

.carousel {
  background: #FAFAFA;
  padding-top: 10px;
}
