<div class="title">
  <p> Tendances </p>
</div>
<div class="carousel" data-flickity='{ "freeScroll": true, "wrapAround": false, "pageDots": false}'>
  <app-movie [movie]="movies[0][0]" [add]="true"></app-movie>
  <app-movie [movie]="movies[0][1]" [add]="true"></app-movie>
  <app-movie [movie]="movies[0][2]" [add]="true"></app-movie>
  <app-movie [movie]="movies[0][3]" [add]="true"></app-movie>
  <app-movie [movie]="movies[0][4]" [add]="true"></app-movie>
  <app-movie [movie]="movies[0][5]" [add]="true"></app-movie>
  <app-movie [movie]="movies[0][6]" [add]="true"></app-movie>
  <app-movie [movie]="movies[0][7]" [add]="true"></app-movie>
  <app-movie [movie]="movies[0][8]" [add]="true"></app-movie>
  <app-movie [movie]="movies[0][9]" [add]="true"></app-movie>
</div>
<div class="title" id="last">
  <p> Tendances </p>
</div>
<div class="carousel" data-flickity='{ "freeScroll": true, "groupCells": 2, "contain": false, "wrapAround": false, "pageDots": false }'>
  <app-movie [movie]="movies[1][0]" [add]="true"></app-movie>
  <app-movie [movie]="movies[1][1]" [add]="true"></app-movie>
  <app-movie [movie]="movies[1][2]" [add]="true"></app-movie>
  <app-movie [movie]="movies[1][3]" [add]="true"></app-movie>
  <app-movie [movie]="movies[1][4]" [add]="true"></app-movie>
  <app-movie [movie]="movies[1][5]" [add]="true"></app-movie>
  <app-movie [movie]="movies[1][6]" [add]="true"></app-movie>
  <app-movie [movie]="movies[1][7]" [add]="true"></app-movie>
  <app-movie [movie]="movies[1][8]" [add]="true"></app-movie>
  <app-movie [movie]="movies[1][9]" [add]="true"></app-movie>
</div>
<div class="title" id="last">
  <p> Prochainement </p>
</div>
<div class="carousel" data-flickity='{ "freeScroll": true, "groupCells": 2, "contain": false, "wrapAround": false, "pageDots": false }'>
  <app-movie [movie]="movies[2][0]" [add]="true"></app-movie>
  <app-movie [movie]="movies[2][1]" [add]="true"></app-movie>
  <app-movie [movie]="movies[2][2]" [add]="true"></app-movie>
  <app-movie [movie]="movies[2][3]" [add]="true"></app-movie>
  <app-movie [movie]="movies[2][4]" [add]="true"></app-movie>
  <app-movie [movie]="movies[2][5]" [add]="true"></app-movie>
  <app-movie [movie]="movies[2][6]" [add]="true"></app-movie>
  <app-movie [movie]="movies[2][7]" [add]="true"></app-movie>
  <app-movie [movie]="movies[2][8]" [add]="true"></app-movie>
  <app-movie [movie]="movies[2][9]" [add]="true"></app-movie>
</div>
