<h1 mat-dialog-title>Ajout liste</h1>
<div mat-dialog-content>
    <p>Entrez le nom de votre liste :</p>
    <div>
        <mat-form-field [formGroup]="titleForm">
            <input matInput [(ngModel)]="name" formControlName="listName" placeholder="Nom">
            <span matSuffix>
                <mat-icon>edit</mat-icon>
            </span>
            <mat-error *ngIf="titleForm.invalid"> {{getErrorMessage()}} </mat-error>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()" color="warn">Annuler</button>
    <button mat-raised-button *ngIf="!titleForm.invalid" [mat-dialog-close]="name" color="primary" cdkFocusInitial>Créer</button>
</div>